.my-flex-container {
    border: 2px solid green;
    height: 200px;
    margin-bottom: 20px;

}

.my-flex-item {
    background-color: lightgrey;
    border: 1px dotted;
    height: 48px;
    /*width: 36px;*/

}

.my-flex-item-l{
    background-color: lightgrey;
    border: 2px solid;
    height: 96px;
    /*width: 36px;*/

}