body, html {
    height: 100%;
}

.container {
    height: 100%;
}
.my-flex-container {
    border: 2px solid green;
    width: 100%;
}

.my-flex-item {
    background-color: lightgrey;
    border: 1px dotted;
    width: 100%;

}

.my-flex-item2{
    background-color: lightgrey;
    border: 1px dotted;
    height: 96px;
    /*width: 36px;*/
}